.pagination {
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.page {
  color: var(--color-pagination);
  border: none;
  width: 20px;
  height: 20px;
  padding: 2px;
  text-align: center;
}

.page:hover {
  cursor: pointer;
}

.current,
.page:hover {
  background-color: #97ce4c;
  color: black;
}
