.details-wrapper {
  position: sticky;
  top: 0px;
  right: 10px;
  height: fit-content;
  padding: 0;
}

.item-details-wrapper {
  gap: 10px;
  width: 220px;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-card);
  background-color: var(--color-card);
  border-radius: 20px;
}

.item-text {
  align-self: flex-start;
  display: block;
  width: 220px;
  text-align: start;
  &:hover {
    cursor: default;
  }
}
