.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  height: 300px;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
  }
}

.item-title {
  padding: 10px;
  word-break: break-all;
  font-size: 18px;
}

.item-image {
  width: 220px;
  height: 220px;
  border-radius: 20px;
}

.bookmark-button {
  position: relative;
  z-index: 100;
  padding: 0;
  margin: 0;
  top: -290px;
  right: -80px;
  background-image: url(https://i.postimg.cc/NfbzS7Rc/bookmark.png);
  background-color: transparent;
  width: 32px;
  min-height: 32px;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.bookmarked,
.bookmark-button:hover {
  background-image: url(https://i.postimg.cc/4xSFNf82/bookmark-selected.png);
}
