.item-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: start;
  padding: 10px;
  border-bottom: 1px solid black;
}

.item-preview {
  width: 100px;
  overflow-wrap: break-word;
}

.item-title {
  word-break: break-all;
}

.item-image {
  width: 100px;
  height: 100px;
}

.item-text {
  text-align: start;
  margin-top: 0;
}
