.item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 220px;
  height: 250px;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background-color: #97ce4c;
  }
}

.item-title {
  word-break: break-all;
  font-size: 18px;
}

.item-image {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
