.search-wrapper {
  gap: 5px;
  justify-content: center;
  width: calc(100% - 20px);
}

#search-input {
  border: none;
  border-bottom: 2px solid var(--color-card);
  outline: none;
  background-color: transparent;
  color: var(--color-bg-inv);
  &:focus {
    border: 2px solid var(--color-card);
  }
}
