[data-theme='light'] {
  --color-bg: #ffffff;
  --color-card: #b2daed;
  --color-pagination: #303032;
  --color-bg-inv: #303032;
}

[data-theme='dark'] {
  --color-bg: #303032;
  --color-card: #d5c8b8;
  --color-pagination: #b2daed;
  --color-bg-inv: #ffffff;
}

body {
  margin: 0;
  min-width: fit-content;
  min-height: 100vh;
  padding: 0px;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid #303032;
  padding: 5px;
  background-color: var(--color-card);
  &:hover {
    background-color: #ffffff;
    cursor: pointer;
  }
}
